#navbar {
    background-color: rgb(153, 153, 153);
}
#curvious_header {
    font-size: x-large;
    font-family: sans-serif;
   
}
#first_header {
    font-family: cursive;
    
}
#someth {
    margin-bottom: 300px;
}
.h3 {
    font-family: cursive;
}
#paragraph {
    text-align: center;
    margin: 100px;
}
#pic-1 {
    width: 400px;
}