#navbar {
    background-color: rgb(153, 153, 153);
}
#curvious_header {
    font-size: x-large;
    font-family: sans-serif;
   
}
#first_header {
    font-family: cursive;
    
}
#someth {
    margin-bottom: 300px;
}
.h3 {
    font-family: cursive;
}
#paragraph {
    text-align: center;
    margin: 100px;
}
#pic-1 {
    width: 400px;
}
#spfied {
    list-style-type: none;
}
#inform-number {
    background-color: rgb(239, 213, 247);
    margin-top: 40px;
    color: white;
    font-size: xx-large;
    text-align: center;
    padding-top: 40px;
    margin-left: 0;
    margin-right: 0;
}